/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

html{
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;

}

*{
		-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p, input{
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.outer{

	position: absolute;
	width:100%;
	background-color: #FAFAFA;
	top: 3%;
	left: 0;
	right:0;
	bottom: 3%;
	margin: auto;
	text-align: center;
	color: darkgray;
	font-size: 3.5em;
	font-family: Century Gothic, sans-serif;

}
.h1{
	position: relative;
}

form{
	margin-bottom: 10px;
}

body{
	padding: 0;
	margin: 0;

	background-color: #FAFAFA;

}
.right-text-slide{
	text-align: right;
	display: inline-block;
	line-height: 75px;
	vertical-align: middle;
	height: 100%;
}
.left-text-slide{
	position:absolute;
	right:18px;
	width:10%;
	line-height: 75px;
	vertical-align: middle;
	display: inline-block;

}

.slide-bar{
	position:absolute;
	display: inline-block;
	left: 0;
	width: 350px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif;
	height:75px;
	text-align: left;
	color:#999999;
	border-radius: 10px;
	/*margin-top:28px;*/
	border-radius: 10px;

background: -moz-linear-gradient(top,  rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.05) 2%, rgba(0,0,0,0.02) 51%, rgba(4,4,5,0.05) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.05)), color-stop(2%,rgba(0,0,0,0.05)), color-stop(51%,rgba(0,0,0,0.02)), color-stop(100%,rgba(4,4,5,0.05))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.05) 2%,rgba(0,0,0,0.02) 51%,rgba(4,4,5,0.05) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.05) 2%,rgba(0,0,0,0.02) 51%,rgba(4,4,5,0.05) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.05) 2%,rgba(0,0,0,0.02) 51%,rgba(4,4,5,0.05) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.08) 0%,rgba(0,0,0,0.08) 2%,rgba(0,0,0,0.02) 51%,rgba(4,4,5,0.08) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#0d040405',GradientType=0 ); /* IE6-9 */

	opacity: .8;
	color: rgba(0, 0, 0, 0.1);
	padding-left:8px;
	padding-top: 5px;
	/*margin-left:-65px;*/
	z-index:-1 !important;
}

.title-slider{
	position: relative;
	text-align: center;
	/*background:#F3F5F5;*/
	display: inline-block;
	width: 350px;
		height: 75px;
	border-radius: 10px;
	
}

.title{
	opacity: .2;
	display: inline-block;
	position: absolute;
	left:58px;
	width: 180px;
	/*float:left;*/
	vertical-align: middle;
	background: lightgray;
	color: black;
	/*line-height: 1.5em;*/
	padding:30px;
	/*margin-left: 35%;*/
	/*width:50px;*/
	font-size:.8em;
	border-radius: 10px;
	cursor:pointer;
	z-index: 100;
	-webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px 3px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px 3px rgba(50, 50, 50, 0.5);
/*-webkit-box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.34);
-moz-box-shadow:    0px 2px 6px rgba(50, 50, 50, 0.34);
box-shadow:         0px 2px 6px rgba(50, 50, 50, 0.34);*/
}

.title:active{
-webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0);
	-moz-box-shadow:    0px 2px 3px rgba(50, 50, 50,0);
	box-shadow:         0px 2px 3px rgba(50, 50, 50, 0);
}

.title-cont{
	display: inline-block;
	position:relative;
	width:100%;
	/*background-color: green;*/
	padding: 0;
	margin: 0;
	z-index:1;
}

.switch-cont{
	position:absolute;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-top:20px;
	margin-left: -120px;
}
.force-move{
	display:none;
	/*display:inline-block;*/
	position: absolute;
	/*display: none;*/
	/*vertical-align: middle;*/
	background: #F0F2F2;
	color: #CCCCCC;
	/*line-height: 1.5em;*/
	padding: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 20px;
	font-size: .6em;
	/*width:50px;*/
	border-radius: 10px;
	cursor:pointer;
}

.slide-left img{
	position:absolute;
	left:4px;
	top: 4px;
	opacity: .3;

}

.slide-left-text{
	/*display:none;*/
	position: absolute;
	width: 150px;
	/*right: -30px;*/
	margin-left: 30px;
	height: 100%;
	z-index: 900;

}


input[type=text] { 
	border: 1px solid #848484; 
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	margin-bottom: 5px;
	border-radius: 10px; 
	background: rgba(255, 255, 255, 1);
	outline:0; 
	height:20px; 
	width: 15px; 
	padding-left:10px; 
	padding-right:10px;
	opacity: .6;
	z-index: 1000; 
} 

.info-box { 
	border: 1px solid #848484; 
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	padding-left: 10px;
	border-radius: 10px; 
	background: rgba(255, 255, 255, 1);
	outline:0; 
	height:20px !important; 
	width: 75px !important; 
	opacity: .6;
	z-index: 1000; 
} 
input[type=submit]:active { 
	background-color:rgba(0, 0, 0, .1);
}

.loading-background{
	background:rgba(0, 0, 0, .1) !important;

}

 input[type=submit]{ 
	margin-left: -20px;
	border: 1px solid #848484; 
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	border-radius: 10px; 
	background: rgba(255, 255, 255, 1);
	outline:0; 
	height:25px; 
	width: 40px; 
	margin: 0px;
	padding:0px;
	cursor: pointer;
	opacity: .6;
	z-index: 1000; 
}

.slide-left{
	position: absolute;
	background-image: url("/assets/arrow.png");
	background-repeat: no-repeat;
	background-size:13px 20px;
	background-position: 5px 50%;
	background-color: rgba(0, 0, 0, .1);
	font-size: .24em;
	cursor: pointer;

	/*margin-right: 5em;*/
	font-color:black !important;
	text-align: left;
	/*overflow: hidden;*/
	overflow: hidden;
	width: 30px;
	height: 100%;
	margin: 0; padding: 0;
	/*margin-left:20px;*/
	padding-left:5px;
	right: 0px;
	border-radius: 10px 0 0 10px;
	z-index: 500;
}

.spinner-holder{
	position:relative;
	left: 23%;
	top:14%;
	width: 20px;
}

.highlight{


	-webkit-box-shadow: 0px 0px 20px rgba(255, 255, 120, 0.75) !important;
	-moz-box-shadow:    0px 0px 20px rgba(255, 255, 120, 0.75) !important;
	box-shadow:         0px 0px 20px rgba(255, 255, 120, 0.75) !important;

	/*background-color: yellow !important;*/
}

.loader{
	display:none;
	text-align: center;
	position:absolute;
	width:2.5em;
	height:2.5em;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
	/*padding-left:40px;*/

	background-color:rgba(0, 0, 0, 0.39);
	border-radius: 15px;
	z-index: 111

}


.black-stone{
	position:absolute;
	width:75%;
	height:75%;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color:rgba(0, 0, 0, .8);
	border-radius: 500px;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.5);
}
.white-stone{
	position:absolute;
	position:absolute;
	width:75%;
	height:75%;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
/*-webkit-box-shadow: 0px 0px 24px rgba(255, 255, 255, 1);
-moz-box-shadow:    0px 0px 24px rgba(255, 255, 255, 1);
box-shadow:         0px 0px 24px rgba(255, 255, 255, 1);*/
	background-color: white !important;
	border-radius: 500px;
}

.shadow-bottom {
	-webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.75);
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}



.board{
	position: relative;
	border-style:solid;
	border-width:5px;
	border-color: #CCCCCC;
	border-radius: 5px;
	background-image: url("/assets/snow2.png");

	/*box-shadow: 10px 10px 5px #888888;*/

	/*height: 464px;*/
	display: inline-block;
	/*float:left;*/
}

.row{

	/*height:80px;*/
	/*margin:1px;*/
	/*.border-bottom: 1px solid;*/

}

.square{
	position:relative;
	width:10%;
	height:80px;
	margin:1px;
	background-color: rgba(0, 0, 0, .1);
	float:left;

}

.square:hover{
	background-color:#E6E6E6;
}


#floatingBarsG{
position:relative;
width:62px;
height:77px
}

.blockG{
position:absolute;
background-color:transparent;
width:10px;
height:24px;
-moz-border-radius:8px 8px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:8px 8px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:8px 8px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:8px 8px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:8px 8px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#rotateG_01{
left:0;
top:28px;
moz-animation-delay:0.39s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.39s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.39s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.39s;
-o-transform:rotate(-90deg);
animation-delay:0.39s;
transform:rotate(-90deg);
}

#rotateG_02{
left:8px;
top:10px;
-moz-animation-delay:0.52s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.52s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.52s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.52s;
-o-transform:rotate(-45deg);
animation-delay:0.52s;
transform:rotate(-45deg);
}

#rotateG_03{
left:26px;
top:3px;
-moz-animation-delay:0.65s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.65s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.65s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.65s;
-o-transform:rotate(0deg);
animation-delay:0.65s;
transform:rotate(0deg);
}

#rotateG_04{
right:8px;
top:10px;
-moz-animation-delay:0.78s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.78s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.78s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.78s;
-o-transform:rotate(45deg);
animation-delay:0.78s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:28px;
-moz-animation-delay:0.9099999999999999s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.9099999999999999s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.9099999999999999s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.9099999999999999s;
-o-transform:rotate(90deg);
animation-delay:0.9099999999999999s;
transform:rotate(90deg);
}

#rotateG_06{
right:8px;
bottom:7px;
-moz-animation-delay:1.04s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:1.04s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:1.04s;
-ms-transform:rotate(135deg);
-o-animation-delay:1.04s;
-o-transform:rotate(135deg);
animation-delay:1.04s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:26px;
-moz-animation-delay:1.1700000000000002s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:1.1700000000000002s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:1.1700000000000002s;
-ms-transform:rotate(180deg);
-o-animation-delay:1.1700000000000002s;
-o-transform:rotate(180deg);
animation-delay:1.1700000000000002s;
transform:rotate(180deg);
}

#rotateG_08{
left:8px;
bottom:7px;
-moz-animation-delay:1.3s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:1.3s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:1.3s;
-ms-transform:rotate(-135deg);
-o-animation-delay:1.3s;
-o-transform:rotate(-135deg);
animation-delay:1.3s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:transparent;
}

}

@-webkit-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:transparent;
}

}

@-ms-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:transparent;
}

}

@-o-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:transparent;
}

}

@keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:transparent;
}
}

.onoffswitch {
    position: relative; width: 90px;
    display: inline-block;

    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Faster";
    padding-left: 10px;
    background-color: #F0F2F2; color: #999999;
    text-align:left;
}
.onoffswitch-inner:after {
    content: "Harder";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
