<div class="board-adj"></div>
<div  class="outer">
    <div class="slide-left">
        <div class="slide-left-text">  <%= render 'slide_menu' %> </div>
    </div>

    <div class="title-cont"> 
        <div class="title-slider">
            <div class="slide-bar">
                <div class="left-text-slide">
                Harder
                </div>
                <div class="right-text-slide">
                Faster
                </div>
            </div>
            <div class="title">Gomoku</div> 
        </div>
        <div class="force-move">Go!</div> 
    </div>
    <br> <br>

    <%= content_tag "div", :class => "board", data: {
        depth: @depth, 
        rows: @rows, 
        id: @game.id, 
        win_chain: @win_chain
        } do %>
      <div class="loader"> <div class="spinner-holder"> </div> </div>
    <% end %>
</div>


