<div  class="outer">
    <div class="slide-left">
        <div class="slide-left-text">  <%= render 'slide_menu' %> </div>
    </div>

    <div class="title-cont"> 
        <!-- <div class="switch-cont">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                <label class="onoffswitch-label" for="myonoffswitch">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                </label>
            </div>
        </div> -->
        <div class="title-slider">
            <div class="slide-bar">
                <div class="left-text-slide">
                Harder
                </div>
                <div class="right-text-slide">
                Faster
                </div>
            </div>
            <div class="title">Gomoku</div> 
        </div>
        <div class="force-move">Go!</div> 
    </div>
    <br> <br>
    <%= content_tag "div", :class => "board", :id =>  @rows, data: {depth: @depth, rows: @rows} do %>
    
<!--     <div id=<%=@rows %> class="board">
 -->
      <div class="loader"> <div class="spinner-holder"> </div> </div>
    <% end %>
</div>


