<div  class="outer">
    <div class="slide-left">
        <div class="slide-left-text">  <%= render 'slide_menu' %> </div>
    </div>
    <div class="title-cont"> 
    <div class="title">Gomoku</div> 
    <div class="force-move">Go!</div> 
    </div>
    <br> <br>

    <div id=<%=@rows %> class="board">

      <div class="loader"> <div class="spinner-holder"> </div> </div>
    </div>
</div>


