html{
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;

}

*{
		-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p, input{
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.outer{

	position: absolute;
	width:100%;
	background-color: #FAFAFA;
	top: 3%;
	left: 0;
	right:0;
	bottom: 3%;
	margin: auto;
	text-align: center;
	color: darkgray;
	font-size: 3.5em;
	font-family: Century Gothic, sans-serif;

}
.h1{
	position: relative;
}

form{
	margin-bottom: 10px;
}

body{
	padding: 0;
	margin: 0;

	background-color: #FAFAFA;

}


.spinner-holder{
	position:relative;
	left: 23%;
	top:14%;
	width: 20px;
}

.highlight{


	-webkit-box-shadow: 0px 0px 20px rgba(255, 255, 120, 0.75) !important;
	-moz-box-shadow:    0px 0px 20px rgba(255, 255, 120, 0.75) !important;
	box-shadow:         0px 0px 20px rgba(255, 255, 120, 0.75) !important;

	/*background-color: yellow !important;*/
}

.board-adj{
	display: none;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 500px;
	background: darkgray;
	z-index: 1150;
}

.loader{
	display:none;
	text-align: center;
	position:absolute;
	width:2.5em;
	height:2.5em;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
	/*padding-left:40px;*/

	background-color:rgba(0, 0, 0, 0.39);
	border-radius: 15px;
	z-index: 111

}


.black-stone{
	position:absolute;
	width:75%;
	height:75%;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color:rgba(0, 0, 0, .8);
	border-radius: 500px;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.5);
}
.white-stone{
	position:absolute;
	position:absolute;
	width:75%;
	height:75%;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	margin: auto;
/*-webkit-box-shadow: 0px 0px 24px rgba(255, 255, 255, 1);
-moz-box-shadow:    0px 0px 24px rgba(255, 255, 255, 1);
box-shadow:         0px 0px 24px rgba(255, 255, 255, 1);*/
	background-color: white !important;
	border-radius: 500px;
}

.shadow-bottom {
	-webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.75);
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}



.board{
	position: relative;
	border-style:solid;
	border-width:5px;
	border-color: #CCCCCC;
	border-radius: 5px;
	background-image: url("/assets/snow2.png");

	/*box-shadow: 10px 10px 5px #888888;*/

	/*height: 464px;*/
	display: inline-block;
	/*float:left;*/
}

.row{

	/*height:80px;*/
	/*margin:1px;*/
	/*.border-bottom: 1px solid;*/

}

.square{
	position:relative;
	width:10%;
	height:80px;
	margin:1px;
	background-color: rgba(0, 0, 0, .1);
	float:left;

}

.square:hover{
	background-color:#E6E6E6;
}

